.box.left-box{
    display:flex;
    justify-content: space-between;
    width:660px;
    position: absolute;
    left:500px;
    top:200px;
}
.left-box img{
    width: 200px;
    height: 200px;
}
.left-box.left-text{
    width:430px;
}
.left-text p{
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}