*{
    margin:0;
    padding:0;
}
.box{
    display:flex;
    justify-content: space-between;
    width:460px;
    margin:auto;
    background-color: red;
}
.box img{
    width: 200px;
}
.box.box-text{
    width:230px;
}
.box-text p{
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}