*{
    margin:0;
    padding:0;
}
.box{
    display:flex;
    justify-content: space-between;
    width:1280px;
    margin:auto;
}
.box img{
    width: 600px;
}
.box.box-text{
    width:650px;
}
.box.box-text p{
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
}